<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group"
  [class.has-error]="!nome.valid && nome.touched"
  [class.has-feedback]="!nome.valid && nome.touched">
    <label for="nome" class="control-label">Nome</label>
    <input type="text" class="form-control" name="nome"
    id = "nome" placeholder="Nome" [(ngModel)]="usuario.nome"
    required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched">
    <!--<div>
      {{ nome.className }}
    </div> -->
       <div *ngIf="!nome.valid && nome.touched"
      class="alert alert-danger" role="alert" >
      O campo de Nome deve ser preenchido.
    </div>
  </div>
  <br>

  <div class="form-group"
    [class.has-error]="!email.valid && email.touched"
    [class.has-feedback]="!email.valid && email.touched">
    <label for="email">E-mail</label>
    <input type="email" class="form-control" name="email"
    id = "email" placeholder="nome@email.com" [(ngModel)]="usuario.email"
    required email #email="ngModel">
    <div *ngIf="!email.valid && email.touched"
      class="alert alert-danger" role="alert" >
      O campo de email deve ser preenchido.
    </div>

  </div>
<br>
  <button type="submit" class="btn btn-primary"
  [disabled]="!f.valid">Submit</button>
</form>
