<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse forms-titles" id="navbarSupportedContent">


<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="dropdown-item"  href="#">Angular Forms</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li> -->

  <li class="nav-item" routerLinkActive="active">
    <a class="dropdown-item"  routerLink="/templateForm" >Form - Template Driven</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="dropdown-item" routerLink="/dataForm">Form - Data Driven</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="dropdown-item" routerLink="/formPoc">Form - POC</a>
  </li>
  <img src="assets/img/friends_logo.png" alt="logopage">
</ul>
</div>

</nav>

<div class="container form-row">
  <router-outlet></router-outlet>
</div>
