
.navbar-collapse {
  background-color: #5B4B81;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-align: center;
}

.nav-item a{
  margin-top: 10px;
  text-align: center;
  color:  #F2CA51!important;
}

.forms-titles{
  text-align: center!important;
}

.navbar-nav img{
  position: block;
  width: 8rem;
  margin-left: 250px;
  padding: 10px;
}


.navbar-nav {
  margin-top: 10px;
}
